<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'products_list' %}">YaraShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products_list' %}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'orders' %}">Orders</a>
            </li>
            {% if user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link disabled text-dark font-weight-bold font-italic" href="#">Welcome {{ user.username }}</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>