{% extends 'base.html' %}


{% block title %}
Product Detail
{% endblock %}

{% block body_content %}
    <h1>You Are Awesome ;)</h1>
    <div class="row">
        <div class="col-md-8">
            <p><strong>Name:</strong> {{ product.name }}</p>
            <p><strong>Price:</strong> {{ product.price }}$</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <a class="btn btn-success btn-block" href="{% url 'buy' pk=product.pk %}">Add To Cart</a>
        </div>
    </div>
{% endblock %}