{% extends 'base.html' %}

{% block title %}
    All Products
{% endblock %}

{% block body_content %}
    <h1>Welcome To Yara Shop :)</h1>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group">
                {% for product in products %}
                    <li class="list-group-item d-flex justify-content-between">
                        {{ product.name }}
                        <a class="btn btn-outline-primary" href="{% url 'product_detail' product.pk %}">See More</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}