{% extends 'base.html' %}


{% block title %}
    Orders List
{% endblock %}

{% block body_content %}
    <h1>All Orders</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">User</th>
                    <th scope="col">Price</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}


                    <tr>
                        <th scope="row">{{ order.pk }}</th>
                        <td>{{ order.product }}</td>
                        <td>{{ order.user }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.created_time }}</td>
                    </tr>


                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}