{% extends 'base.html' %}


{% block title %}
Orders List
{% endblock %}

{% block body_content %}
    <h1>All Orders</h1>
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-outline-success" type="submit" value="Pay">
            </form>
        </div>
    </div>
{% endblock %}